body {
  background-image: linear-gradient(-180deg, #FFBA8D 0%, #FF8F95 100%);
}
#bodyTable {
  max-width: 480px;
  height: 100vh;
  padding: 30px;
  font: 12px/16px 'HelveticaNeue-Light', Helvetica, Arial, Sans-serif;
}
#bodyCell {

}
#templateContainer {
  background: #FFFFFF;
  border: 0px solid #BEBEBE;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.10);
  padding: 30px;
  margin-bottom: 30px;
}
#templatePreheader {

}
.preheaderContent {
  color: #FFFFFF;
}
.headerContent {
  text-align: center;
  margin-bottom: 30px;
}
#templateBody {

}
#templateFooter {

}
.footerContent {
  padding-top: 0; color: #FFFFFF;
}
h2 {
  font-size: 18px;
  line-height: 30px;
}
p {
  margin-bottom: 30px;
}
a {
  color: #CF4E62;
  text-decoration: none;
  font-family: 'HelveticaNeue-Medium', Helvetica, Arial, Sans-serif;
  font-weight: '700';
}
.matches {
  text-align: center; margin-bottom: 30px;
}
.match {
  background: #FFFFFF;
  border: 1px solid #BEBEBE;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.10);
  padding: 15px;
  margin-bottom: 15px;
  text-align: left;
}
.match img {
  margin-bottom: 15px;
}
.match .title {
  color: #5A5859;
  font-family: 'HelveticaNeue', Helvetica, Arial, Sans-serif;
  font-size: 24px;
  font-weight: '500';
  margin-bottom: 15px;
}
.match .bio {
  color: #5A5859;
  font-family: 'HelveticaNeue', Helvetica, Arial, Sans-serif;
  font-weight: '500';
}
.center {
  text-align: center;
}
.reminder {
  border-top: 1px solid #BEBEBE;
}
.reminder .header {
  font-family: 'HelveticaNeue-Medium', Helvetica, Arial, Sans-serif;
  font-weight: '700';
  text-transform: uppercase;
  margin: 15px 0;
}
.icons {
  display: flex;
}
.icon {
  flex: 1;
  text-align: center;
}
.icon .label {
  text-align: center;
  margin-top: 15px;
}
.bubble {
  position: relative;
  /*width: 240px;
  height: 60px;*/
  padding: 0px;
  background: #FFFAFB;
  border-radius: 0px;
  border: #CF4E62 solid 1px;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.10);
  padding: 10px;
}
.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #FFFAFB;
  display: block;
  width: 0;
  z-index: 1;
  margin-top: -10px;
  left: -10px;
  top: 50%;
}
.bubble:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #CF4E62;
  display: block;
  width: 0;
  z-index: 0;
  margin-top: -10px;
  left: -11px;
  top: 50%;
}
.bubble .content {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 48px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.preview {
  display: flex;
  margin-bottom: 30px;
}
.preview .profile {
  margin-right: 15px;
}
.preview .meta {
  flex: 1;
}
.preview .meta .username {
  color: #CF4E62;
  font-family: 'HelveticaNeue', Helvetica, Arial, Sans-serif;
  text-decoration: none;
}
.preview .meta .bio {
  color: #5A5859;
  font-family: 'HelveticaNeue', Helvetica, Arial, Sans-serif;
  font-weight: '500';
  margin-bottom: 15px;
}
.preview .meta .stars {
  text-align: center;
}
.preview .meta .stars .star {
  margin-right: 5px;
}
